/* global.css
 * Purpose: This file imports all other css files and fonts.
 */

@import url('lib/css/normalize.css');
@import url('lib/css/stjs.css');

/* Fonts */

@font-face {
    font-family: 'Open Sans';
    src: local('☺'), url('OpenSans-Regular.eot?') format('embedded-opentype'), url('OpenSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans Light';
    src: local('☺'), url('OpenSans-Light.eot?') format('embedded-opentype'), url('OpenSans-Light.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans Semibold';
    src: local('☺'), url('OpenSans-Semibold.eot') format('embedded-opentype'), url('OpenSans-Semibold.woff') format('woff');
}
